/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * hadarawgs implementation : © Willy Goiffon <dev@z3bra.org>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hadarawgs.css
 *
 * hadarawgs stylesheet
 *
 */

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

.standout {
	color: red;
	font-weight: bold;
}

.player_dragon::after  { content: " - dragon";  }
.player_lion::after    { content: " - lion";    }
.player_monkey::after  { content: " - monkey";  }
.player_pegasus::after { content: " - pegasus"; }
.player_scarab::after  { content: " - scarab";  }

.playerboard_resources {
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.playerboard_income   { padding: 2px; background-color: #ffff66; }
.playerboard_military { padding: 2px; background-color: #ffaaaa; }
.playerboard_culture  { padding: 2px; background-color: #aaaaff; }
.playerboard_food     { padding: 2px; background-color: #aaffaa; }

/*
 * Player panel (top-right score, ELO, resources, ...)
 *
 */
.pp_value { margin-right: 2px; }
.icon {
	width: 16px;
	height: 16px;
	background-repeat: none;
	display: inline-block;
}

/* TODO: merge all icons into a single image (w/ transparency) */
.icon_coins { background-image: url('img/coins.png'); }
.icon_food  { background-image: url('img/grape.png'); }

.icon_animal {
	width: 32px;
	height: 37px;
	background-size: 300%;
	background-image: url('img/animals.png');
}
.icon_monkey  { background-position:    0px   0px; }
.icon_scarab  { background-position:  -32px   0px; }
.icon_dragon  { background-position:  -64px   0px; }
.icon_pegasus { background-position:    0px -38px; }
.icon_lion    { background-position:  -32px -38px; }

.card {
	width: 64px;
	height: 90px;
	border-radius: 6px;
	display: inline-block;
	box-shadow: 0 0 4px;
}

.card_income   { background-color: #ffff66; }
.card_military { background-color: #ffaaaa; }
.card_culture  { background-color: #aaaaff; }
.card_food     { background-color: #aaffaa; }

.card_epoch_1::after { padding: 4px; content: "I"; }
.card_epoch_2::after { padding: 4px; content: "II"; }
.card_epoch_3::after { padding: 4px; content: "III"; }
