/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * hadarawgs implementation : © Willy Goiffon <dev@z3bra.org>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hadarawgs.css
 *
 * hadarawgs stylesheet
 *
 */

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

.player-dragon::after  { content: " - dragon";  }
.player-lion::after    { content: " - lion";    }
.player-monkey::after  { content: " - monkey";  }
.player-pegasus::after { content: " - pegasus"; }
.player-scarab::after  { content: " - scarab";  }

.resources-container {
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.resource-income   { padding: 2px; background-color: #ffff66; }
.resource-military { padding: 2px; background-color: #ffaaaa; }
.resource-culture  { padding: 2px; background-color: #aaaaff; }
.resource-food     { padding: 2px; background-color: #aaffaa; }

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




