/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * hadarawgs implementation : © Willy Goiffon <dev@z3bra.org>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hadarawgs.css
 *
 * hadarawgs stylesheet
 *
 */

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

.standout {
	color: red;
	font-weight: bold;
}

.playerboards {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* container for each player */
.playerboard {
	min-width: 480px;
	box-sizing: border-box;
	margin: 10px;
	padding-top: 5px;
	box-shadow: 0px 0px 2px 0px #736767;
	transition: 2s all linear; -webkit-transition: 2s all linear;
}

.icon_animal {
	width: 32px;
	height: 37px;
	background-size: 300%;
	background-image: url('img/animals.png');
}

/* animals match player colors */
.icon_804000  { background-position:    0px   0px; }
.icon_408000  { background-position:  -32px   0px; }
.icon_d80000  { background-position:  -64px   0px; }
.icon_ffffff  { background-position:    0px -38px; }
.icon_ffb000  { background-position:  -32px -38px; }

.player_804000::after { fond-size: 70%; content: " - monkey";  }
.player_408000::after { fond-size: 70%; content: " - scarab";  }
.player_d80000::after { fond-size: 70%; content: " - dragon";  }
.player_ffffff::after { fond-size: 70%; content: " - pegasus"; }
.player_ffb000::after { fond-size: 70%; content: " - lion";    }

.resource_income   { background-color: goldenrod; }
.resource_military { background-color: firebrick; }
.resource_culture  { background-color: skyblue;   }
.resource_food     { background-color: green;     }

.resource {
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
}

.medal_silver, .medal_gold {
	width: 20px;
	height: 20px;
	display:inline-block;
}
.medal_silver { background-color: silver; }
.medal_gold   { background-color: gold; }

.colony {
	width: 20px;
	height: 20px;
	background-color: firebrick;
	display:inline-block;
	text-align: center;
}

.statue {
	width: 20px;
	height: 20px;
	background-color: lightskyblue;
	display:inline-block;
	text-align: center;
}

/*
 * Player panel (top-right score, ELO, resources, ...)
 *
 */
.pp_value { margin-right: 2px; }
.icon {
	width: 16px;
	height: 16px;
	background-repeat: none;
	display: inline-block;
}

/* TODO: merge all icons into a single image (w/ transparency) */
.icon_coins { background-image: url('img/coins.png'); }
.icon_food  { background-image: url('img/grape.png'); }
